#navigation a {
  text-decoration: none;
}

#navigation ul {
  list-style: none;
  padding-left: 0;
  padding-left: 0;
}

#navigation li {
  display: block;
  float: left;
  padding: 1.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
#navigation li a {
  color: black;
  padding: 1.5rem;
}

#navigation li:hover,
#navigation li:focus-within {
  background:rgba(84,115,112, 0.3);
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: white;
  color: white;
  visibility: hidden;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 2em;
  text-align: center;
  left:0;
  display: none;
  font-size: 0.8em;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   display: block;
}

#navigation ul li:hover {
  color:white;

}

ul li ul li {
  width: 73.5%;
}

.active {
	background-color:rgba(84,115,112, 0.3);
}

/*to here */

p {
	max-width: 40em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	line-height: 1.6em;
}

h3 {
	margin-bottom: 1.5em;
	margin-top: 2em;
}

h2 {
	margin-bottom: 2em;
	font-family: Garamond;
	font-size: 1.8em;
}

h5 {
	font-size: 1em;
	color: white;
	background-color:rgb(91,122,120);
	text-align: center;
	padding: 0.5em;
}

figcaption {
	margin-top: 1em;
	margin-left:-2.5em;
	font-style: italic;

}

figure img {
	margin-left:-2.5em;
}

#typography h2 {
	margin-bottom:1em;
	font-family: Arial;
}

#typography h3 {
	margin-top:1em;
}

ol li {
	margin-bottom: 0.5em;
}

#buttons a {
	text-decoration:none;
}

#typography,#bulllets,#form, #numbered, #colors, #buttons, #logo, #illustrations, #text {
	margin-bottom: 6em;
}

#crazy, #wireframes, #sitemap, #highf {
	margin-bottom: 6em ;
}

/* container for all items */

.main-container {
	display: flex;
	justify-content:center;
}

.main-item {
	padding: 5em;
	padding-top: 0em;
}
/* UI Pattern elements css */

.grid-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.primary-container {
	display: flex;
}

.primary-item1 {
	flex:1;
	flex-direction:column;
	margin-right: 2em;
}

.primary-item2 {
	flex:2;
	flex-direction:column;
	margin-right: 2em;
}

.primary-item3 {
	flex:3;
	flex-direction:column;
}

#nav li {
	list-style-type: none;
	display: inline-block;
	margin: 12px 0 12px 0;
	margin-left: 1em;
}

#nav ul {
	background-color: rgb(40,61,59);
	color: white;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

.logoo {
	margin-right: 16em;
}

#nav li a {
    color: white;
    text-decoration: none;
}

#nav li a:hover {
    color: grey;
    transition-duration: 0.5s;
}

#colors img {
	display:block;
	height: 6.5em;

}

.container2 {
	display:flex;
	flex-wrap:wrap;
	margin-bottom:5em;
}

#logo img {
	margin-right: 2em;
}

.item1 {
	margin-right: 3em;
}

.mini-container .button2 {
	display:block;
}

img {
	margin-bottom:-0.4em ;

}

#colors img {
	margin-bottom: 1em;
	margin-top: 1em;
}

#breadcrumbs a {
	text-decoration:none;
	color:black;
	margin-right: 1em;
}

.grid-container {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-bottom: 4em;
}

#colors p {
	margin-bottom:-1em;

}

code {
	font-size: 0.8em;
}

/* product detail page */
.first-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

.second-item {
	margin-left: 5em;
	margin-top: -2em;
}

.mini-container{
	display: flex;
	flex-wrap: wrap;
}

.mini-item2 {
	margin-left: 1em;
}

.mini-container2 li {
	list-style-type:none;
	display: inline;
	font-size: 0.9em;
}

.mini-container2 {
	margin-left:-2.5em;
}

#nav, #product, #grid, #checkout, #footer, #breadcrumbs{
	margin-bottom: 6em;
}

label {
	display:block;
	font-size: 0.8em;
	font-weight: lighter;
	margin-bottom: 0.3em;
}

#email, #pword{
	margin-bottom: 1em;
}

input {
	width: 19em;
	height: 1.6em;
	background-color: rgb(242,242,242);
	border: none;
	border-radius: 4px;
}


.button {
	border:none;
	padding: 8px 28px 8px 28px;
	font-size: 0.9em;
	background-color:rgb(40,61,59);
	color: white;
	border-radius: 3px;
}

.button:hover {
	color: black;
	background-color: white;
	border: 1px solid rgb(40,61,59);
	transition-duration: 0.4s;
}

.button2 {
	border:1px solid black;
	width: 10em;
	padding: 8px 28px 8px 28px;
	background-color: white;
	border-radius: 3px;
	margin-bottom: 0.5em;
	color: black;

}

.button2:hover {
	color: white;
	background-color: rgb(40,61,59);
	transition-duration: 0.5s;
}

.button3 {
	border:1px solid black;
	width: 4em;
	padding: 0.5em;
	background-color: white;
	border-radius: 3px;
	margin-right: 0.4em;

}

.button3:hover {
	color: white;
	background-color: rgb(40,61,59);
	transition-duration: 0.5s;
}

.button4 {
	width: 8em;
	padding: 7px 20px 7px 20px;
	background-color: #A00226;
	border-radius: 3px;
	font-size: 0.9em;
	color: white;
	border:none;

}

#buttons h4 {
	margin-top: 2.5em;
}

.second-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

.second-items input {
	width: 10em;
}

.first-items button {
	margin-top: 1.5em;
}

.first-items h4 {
	font-size: 1.3em;
	font-weight: lighter;
}

.second-items {
	margin-left: 8em;
}

.mini-containers {
	display: flex;
	margin-top: 1.5em;
	margin-bottom: -1.5em;
}

.mini-item22{
	margin-left: 2em;
	margin-top: -1em;
}

.mini-item22 p{
	margin-top: -0.5em;
	font-weight: lighter;
}

.small-container {
	display: flex;
	margin-left:-2em;
}

.small-container li {
	list-style-type: none;
	margin-bottom: 1.5em;
	font-size: 0.85em;
}

.small-item2 {
	margin-left: 8em;
	text-align: right;
}

.small-item {
	margin-left:-0.5em;
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

.line {
	border-left: 1px solid black;
	height: 26em;
	margin-right: -3em;
	margin-left: 3em;
}

#citations {
	max-width: 50em;
}